.top-selling-h2{
    h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Poppins';
        font-weight: 1000;
        font-size: 48px;
        margin-top: 64px;
    }
}